

#content {width:620px; margin:0px auto;}


.video{
	padding: 0px 10%;
}

/*----------------------*/
/*hotel*/
/*----------------------*/
.hotel_container{
	border: 1px solid #333;
padding: 1em;	
}

.hotel_content{
	border: 1px solid #333;
padding: 0.5em;
margin: 1em;
color: #333;

}

.hotel_img{
	width: 100%;
}

.tn3-gallery{
	
}

.none{
	display: none;
}

#objV{
	width: 100%;
}